<div class="card login-card bg-light">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="text" placeholder="Enter email address..." id="emailInput" />
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" type="password" placeholder="Enter password..." id="passwordInput" />
            <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <div class="form-group">
            <p class="text-muted">Don't have an account? <a href="#/views/views/register">Create</a> an account...</p>
        </div>
        <div class="alert " id="messageAlert" style="display: none;"></div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" id="loginButton"><span class="fa fa-sign-in-alt"></span>Login</button>
    </div>
</div>