<div class="row">
    <div class="col-12">
        <p>Manage your day with the todo list...</p>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" id="addItemButton"><span class="fa fa-plus"></span>Add Item</button>
        <hr/>
    </div>
</div>
<div class="row text-center">
    <div class="col-12" id="noItems">
        <p>You currently have no todo items...</p>
    </div>
    <div class="col-12" id="itemTable">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="itemRow">
                    <td id="itemRowTitle">

                    </td>
                    <td id="itemRowDescription">

                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="deleteBTN"><span class="fa fa-trash-alt"></span>Delete</button>
                        <button class="btn btn-primary btn-sm" id="editBTN"><span class="fa fa-edit"></span>Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="addItemModalDiv">

</div>