<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">WillCore Todo List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="loggedInNav">
        <li class="nav-item" id="homeNav">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="todoListNav">
          <a class="nav-link" href="#/views/views/todoList">Todo List</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" id="loggedOutNav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/views/views/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/views/views/register">Register</a>
        </li>
      </ul>
    </div>
    <div class="my-2 my-lg-0" id="logoutDiv">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" id="logoutLink">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="container main-container" id="viewContainer">

  </div>